{% extends 'base.html' %}
{% block content %}
<h1>Homepage</h1>
    {% comment %} <fieldset> {% endcomment %}
      <div class="container">
        <div class="row align-items-start">
          <div class="col">
            {%comment%} File upload section {%endcomment%}
            <div class="mb-3">
              {% if submitted %}
              {%comment%} add condition for when clipper job is completed vs still processing data {%endcomment%}
                Files were submitted successfully!
              {% else %}
                <form action="" method=POST enctype="multipart/form-data">
                  {%comment%} CSV File Input {%endcomment%}
                  {% csrf_token %} 
                  {%comment%} NPZ File Input {%endcomment%}
                  {{form.as_p}}
                  <td><input type="submit" value="Submit" name="_submit" class="btn btn-secondary"></td>
                </form>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="container2">
        <div class="row align-items-start">
          {%comment%} Filter uploaded data section {%endcomment%}
          <div class="col">
          <form>
            <legend>Filter by:</legend>
            <div class="mb-4">
              <label for="disabledTextInput" class="form-label">Organ Type</label>
              <select class="form-select" id="inputGroupSelect01" required aria-label="Select Organ">
                <option value="">Select Organ...</option>
                <option value="1">Glass</option>
                <option value="2">Lung</option>
                <option value="3">Stomach</option>
                <option value="4">Brain</option>
                <option><hr class="dropdown-divider"></option>
                <option value="5">Other Organ</option>
              </select>
              <div class="invalid-feedback">select one</div>
            </div>
            <div class="mb-4">
              <label for="disabledSelect" class="form-label">Tissue</label>
              <select class="form-select" id="inputGroupSelect01" required aria-label="Select Type">
                <option value="">Select Tissue...</option>
                <option value="1">Connective Tissue</option>
                <option value="2">Epithelial Tissue</option>
                <option value="3">Nervous Tissue</option>
                <option value="4">Muscle Tissue</option>
                <option><hr class="dropdown-divider"></option>
                <option value="5">Other Tissue</option>
              </select>
             <div class="invalid-feedback">select one</div>
            </div>
            <td><input type="submit" value="Filter" name="_filter" class="btn btn-secondary"></td>
            {% autoescape off %}
              <div class "mb-1">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Genes</th>
                      <th scope="col">p-value</th>
                      <th scope="col">adj p-value</th>
                      <th scope="col">Organ Tissue</th>
                      <th scope="col">Organ</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">TNF</th>
                      <td>0,000321</td>
                      <td>0,04321</td>
                      <td>epicardium</td>
                      <td>Lung</td>
                    </tr>
                    <tr>
                      <th scope="row">TP53</th>
                      <td>0,00005423</td>
                      <td>0,00098</td>
                      <td>myocardium</td>
                      <td>Lung</td>
                    </tr>
                    <tr>
                      <th scope="row">ESR1</th>
                      <td>0,0056</td>
                      <td>0,0076</td>
                      <td>endocardium</td>
                      <td>Lung</td>
                    </tr>
                  </tbody>
                </table>
                
              </div>
              <div class="mb-1">
                  {{ volcano_plot_div }}
              </div>
            {% endautoescape %}
          </form>
          </div>
        </div>
      </div>
    {% comment %} </fieldset> {% endcomment %}

{% endblock %}